<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/beautifulButtons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/SectionSeparators/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/SectionSeparators/css/demo.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/SectionSeparators/css/icons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/SectionSeparators/css/component.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/GammaGallery/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/normalize.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/material-photo-gallery.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/buttons_FILES/css/buttons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/unsemantic-master/assets/stylesheets/unsemantic-grid-base.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/unsemantic-master/assets/stylesheets/unsemantic-grid-desktop.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/animate.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- scripts -->
    <!--<script src="../js/jquery-1.12.0.min.js"></script>-->
    <script src="../js/jquery/external/jquery/jquery.js"></script>
    <script src="../js/jquery/jquery-ui.min.js"></script>
    <script src="../css/GammaGallery/js/modernizr.custom.70736.js"></script>
    <script src="../js/sly.min.js"></script>
    <!--<script src="../js/masonry.pkgd.min.js"></script>-->
    <script src="../js/snap.svg-min.js"></script>
    <script src="../js/wow.min.js"></script>
</head>
